.gradient {
  border: none;
 background-color: #050D3B;
 background-image: linear-gradient(270deg, #64E3C9 0%, rgba(90,203,185,0.90) 0%, rgba(13,30,71,0.17) 71%, #050C3B 71%);
 border: 1px solid #979797;
}

.page-header .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-header .text {
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
}

.textbox {
  min-height: 100px;
  height: auto;
  border:1px solid #050C3B;
  text-align: center;
  box-shadow: 5px 10px #050C3B;
  border-radius: 5px;
  margin-bottom: 10px;


}

.textbox p{
  font-size: 15px;
  font-family: Montserrat;
  color: #050C3B;
}

.textbox h3{
  font-weight: bold;
  font-family: Montserrat;
  color: #050C3B;
}

.line {
  margin-top: 50px;
  height: 20px;
  background-color: #050D3B;
  background-image: linear-gradient(270deg, #64E3C9 0%, rgba(90,203,185,0.90) 0%, rgba(13,30,71,0.17) 71%, #050C3B 71%);
  border-radius: 5px;
}

.newsline {
  margin-top: 20px;
  color: #050C3B;
  border-bottom: 1px solid black;
}

.newsline .p {
  font-size: 15px;
  font-family: Montserrat;
  margin-bottom: 5px;
}

.footer {
  margin-top: 100px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #050D3B;
  background-image: linear-gradient(270deg, #64E3C9 0%, rgba(90,203,185,0.90) 0%, rgba(13,30,71,0.17) 71%, #050C3B 71%);
}

/* .footer .col:first-child {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
  vertical-align: middle;
} */

.footer .col {
  margin-top: 30px;
  color: white;
  font-size: 15px;
  font-family: Montserrat;
  margin-left: 10%;
  text-align: inherit;
  vertical-align: middle;
}

.footer .col .fab {
  margin-left: 10px;
  font-size: 20px;
}
